<!-- 공통 부분 -->
<%- include('../../layout/common.ejs') %>

<!-- CSS & JS -->
<style>
    .line-outer-contents {
        height: calc(100vh - 11.5rem);
    }
        .line-outer-contents .contents {
            height: 100%;
        }  
        .line-outer-contents .contents textarea {
            width: 100%;
            height: 100%;
            font-size: 1rem;
            resize: none;
        }          
</style>

<!-- 본문 -->
<%- contentFor('body') %>

<input type="hidden" id="boardGuid" value="<%- boardGuid %>">

<!-- 메뉴명 & 버튼 -->
<div class="d-flex">
    <div class="ps-1">
        <h2>공지사항 보기</h2>
    </div>
    <div class="d-flex ms-auto">  
        <div>
            <button type="button" class="btn btn-warning" onclick="closeItem()">닫기</button>
        </div>  
        <% if((userEmail == regEmail) ||
              (authCode == 'S' || authCode == 'A')) { %>        
        <div class="ms-1">
            <button type="button" class="btn btn-primary" onclick="editItem()">편집</button>      
        </div>
        <% } %>
    </div>
</div>

<!-- 제목 & 등록날짜 -->
<div class="d-flex align-items-start mt-2">
    <h4><%= noticeTitle %></h4>
    <div class="ms-auto">
        <span>등록날짜: </span><span><%= regDate %></span>
    </div>
</div>

<!-- 내용 -->
<div class="mt-2 line-outer-contents">
    <div class="contents">
        <textarea class="form-control" id="txtContents" readonly><%= contents %></textarea>
    </div>
</div>

<script>
  $(document).ready( function () { 
  });   

  //편집 모드
  function editItem(){
    var param = 'boardGuid=' + $("#boardGuid").val();
    location.href = '/common/notice/edit?' + param;
  };

  //닫기
  function closeItem(){
    history.back();
  };

</script>