<%# 공통 부분 %>
<%- include('../../layout/common.ejs') %>

<%# CSS & JS %>
<link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="/css/select.dataTables.min.css" rel="stylesheet" />
<link href="/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<link href="/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="/stylesheets/datatable.css" rel="stylesheet" />
<link href="/stylesheets/trip.css" rel="stylesheet" />

<%# JS %>
<script src="/js/dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/dataTables.select.js"></script>
<script src="/js/select.dataTables.js"></script>
<script src="/js/dataTables.responsive.js"></script>
<script src="/js/responsive.dataTables.js"></script>
<script src="/js/dataTables.fixedColumns.js"></script>
<script src="/js/fixedColumns.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/fixedHeader.dataTables.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.dataTables.min.js"></script>
<script src="/js/buttons.html5.min.js"></script>
<script src="/jszip.min.js"></script>
<script src="/javascripts/datatableOption.js"></script>
<script src="/javascripts/findAddress.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<%# 본문 %>
<%- contentFor('body') %>

<%# DataTable CheckBox Visible %>
<input type="hidden" id="tripGuid" value='<%= tripGuid %>'>
<input type="hidden" id="itemNameList" value='<%= itemNameList %>'>

<%# 메뉴명 & 버튼 %>
<div class="d-flex">
  <div class="ps-1">
    <h2>모두의 출장 상세</h2>
  </div>
  <div class="d-flex ms-auto">
    <div>
      <button type="button" id="btnViewMap" class="btn btn-success" onclick="viewMap()" disabled>지도보기</button>      
    </div>
    <div class="ms-1">
      <button type="button" id="btnCreate" class="btn btn-primary" onclick="createItem()">등록</button>      
    </div>
    <div class="ms-1">
      <button type="button" id="btnDelete" class="btn btn-danger" onclick="deleteItemList(event)">삭제</button>
    </div>
    <div class="ms-1">
      <button type="button" class="btn btn-secondary" onclick="closeItem()">닫기</button>
    </div>
    <div class="ms-1">
      <button class="context-menu-tripDetail btn btn-dark">
        <span class="fa fa-sign-out fa-fw w-100"></span>
      </button>
    </div>
  </div>
</div>

<%# 그리드 %>
<table id="tblMain" class="table table-striped">
</table>

<%# 출장 상세 등록,수정 %>
<div class="modal fade" id="modalTripDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="lblModalTripDetail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- LoadingBar Modal of modalTripDetail -->
      <%- include('../../ejs/loadingbar.ejs') %>

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="lblModalTripDetail">출장 상세</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="needs-validation" novalidate>
            <input type="hidden" id="tripDetailGuid" value="">
            <button type="submit" id="btnSaveTripDetail" class="visually-hidden" onclick="saveTripDetail(this, event)"></button>

            <div id="carouselOuter" class="carousel slide">
              <div class="carousel-inner">           
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselOuter" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselOuter" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div class="input-group mb-3 mt-3">
              <span class="input-group-text"><i class="fa fa-suitcase"></i></span>
              <div class="form-floating has-validation">
                <input type="text" id="facilityName" class="form-control" placeholder="명칭"
                  onkeypress="enterKey(event, 'btnSaveTripDetail')" required>
                <label for="facilityName">명칭</label>
              </div>
              <div class="invalid-feedback">
                명칭을 입력하세요.
              </div>                
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-building"></i></span>
              <div class="form-floating has-validation">
                <input type="text" id="address" class="form-control" placeholder="주소"
                  onkeypress="enterKey(event, 'btnSaveTripDetail')" required>
                <button type="button" class="btn btn-sm btn-success" style="position: absolute; top:-10px; right:10px;" onclick="openDaumMap(this, event);">주소 변경</button>
                <label for="address">주소</label>
              </div>
              <div class="invalid-feedback">
                주소를 입력하세요.
              </div>                
            </div>
                        
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-building-o"></i></span>
              <div class="form-floating has-validation">
                <input type="text" id="addressDetail" class="form-control" placeholder="상세주소"
                  onkeypress="enterKey(event, 'btnSaveTripDetail')">
                <label for="addressDetail">상세주소</label>
              </div>
              <div class="invalid-feedback">
                상세주소를 입력하세요.
              </div>                
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
              <div class="form-floating has-validation">
                <input type="number" step="any" id="latitude" class="form-control" placeholder="위도"
                  onkeypress="enterKey(event, 'btnSaveTripDetail')" value="0" readonly>
                <label for="latitude">위도</label>
              </div>
              <div class="invalid-feedback">
                위도를 입력하세요.
              </div>                
            </div>            

            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
              <div class="form-floating has-validation">
                <input type="number" step="any" id="longitude" class="form-control" placeholder="경도"
                  onkeypress="enterKey(event, 'btnSaveTripDetail')" value="0" readonly>
                <label for="longitude">경도</label>
              </div>
              <div class="invalid-feedback">
                경도를 입력하세요.
              </div>                
            </div>       
            
            <%# 항목 %>
            <div class="d-flex align-items-center">
              <div class="ps-1">
                <h5 class="d-table-cell">출장 항목</h5>
              </div>          
            </div>

            <div id="item-line" class="mt-2">
              <table id="tblItems" class="table table-striped">
              </table>              
            </div>              
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
          onclick="document.getElementById('btnSaveTripDetail').click();">저장</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
        </div>

    </div>
  </div>
</div>

<%# 출장 이미지 등록 %>
<div class="modal fade" id="modalTripDetailImage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="lblModalTripDetailImage" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- LoadingBar Modal of modalTripDetailImage -->
      <%- include('../../ejs/loadingbar.ejs') %>

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="lblModalTripDetailImage">출장 상세 이미지</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="needs-validation" novalidate>
            <button type="submit" id="btnImportImage" class="visually-hidden" onclick="importImage(this, event)"></button>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-file"></i></span>
              <div class="has-validation">
                <input type="file" id="files" class="form-control" required accept="image/*" onchange="addFile(this)" multiple>
              </div>
              <div class="invalid-feedback">
                파일을 업로드하세요.
              </div>                
            </div>            

            <div class="file-list"></div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
          onclick="document.getElementById('btnImportImage').click();">파일 올리기</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
        </div>

    </div>
  </div>
</div>

<script>
  var table = {};
  var tableItems = {};
  var fileNo = 0;
  var filesArr = [];

  $(document).ready( function () {
    //모달 초기화
    InitModalTripDetail();

    //DataTable.js
    InitDataTableJS('tblMain', '/business/trip/getTripDetailList');  

    //scrollY + FixColumnHeader를 쓰고 Behind에서 Initial을 하게 되는 경우, Modal 열 때 Colunm 크기 재조정 필요
    $('#modalTripDetail').on('shown.bs.modal', function (e) {
      setLoadingBar(false, 'modalTripDetail');
      tableItems.columns.adjust();
    });    
  });

  const columnDefs = [
    { targets: "_all", className: "header" },
    { targets: 0, orderable: false, searchable: false, className: 'control', render: false, },
    { targets: 1, orderable: false, render: DataTable.render.select() },    
  ];

  //레코드 선택
  function clickRecord(eThis){
    const rowData = table.row(eThis).data();
    let tripDetailGuid = rowData.TRIP_DTL_GUID;
    let column = table.column(eThis).dataSrc();

    switch(column){
      case 'ADDR':
        console.log(table.column(eThis).title() + ' 클릭(주소)');
        break;
      case 'IMG_CNT':
        $("#tripDetailGuid").val(tripDetailGuid);
        $("#modalTripDetailImage").modal('show');
        break;
      default:
        getItem(tripDetailGuid);
        break;
    }
  };

  //그리드 바인딩
  function InitDataTableJS(tblId, url){
    var columns = [];
    var columnNames = [];
    var exportColumns = [];
    var gridDate = [];
    var select = {};

    $.ajax({
        url: url,
        method: 'post',
        data: {
          'tripGuid': $("#tripGuid").val()
        },
        success: function(data){
          if(isEmpty(data) || (isEmpty(data.value) && isEmpty(data.columnNames))){
            gridData = null;

            //줄여보기 및 체크박스
            columns.push({title: '', data : null, name: 'DTL',  defaultContent: '', width: "0px", visible: false });
            columns.push({title: '', data : null, name: 'CHK', width: "50px", visible: true });  
            
            columns.push(getDataInfoFromColName('ODR'));
            columns.push(getDataInfoFromColName('FCLT_NM'));
            columns.push(getDataInfoFromColName('ADDR'));
            columns.push(getDataInfoFromColName('ADDR_DTL'));
            columns.push(getDataInfoFromColName('LAT'));
            columns.push(getDataInfoFromColName('LNG'));
            columns.push(getDataInfoFromColName('IMG_CNT'));
            columns.push(getDataInfoFromColName('REG_EMAIL'));
            columns.push(getDataInfoFromColName('REG_DT'));
          }
          else{
            if(isEmpty(data.value)){
              gridData = null;
              columnNames = Object.values(data.columnNames);
            }
            else{
              gridData = data.value;
              gridData = changeImageData(gridData);
              columnNames = Object.keys(gridData[0]);         
            }

            //줄여보기 및 체크박스
            columns.push({title: '', data : null, defaultContent: '', width: "0px", visible: false });
            columns.push({title: '', data : null, width: "50px", visible: true });
            
            for(var col = 0; col < columnNames.length; col++) {
              var data = getDataInfoFromColName(columnNames[col]);
              columns.push(data);

              if(!['TRIP_MST_GUID','TRIP_DTL_GUID','COMP_YN','IMG_CNT','TRIP_DTL_GUID_IN_ITM','UPDT_EMAIL','UPDT_DT'].includes(columnNames[col])){
                exportColumns.push(columnNames[col] + ':name');
              }              
            }

            columnDefs.push({ targets: ['NO:name'], className: "row-right-align" });
            columnDefs.push({ targets: ['TTL:name'], className: "row-left-align" });
            columnDefs.push({ targets: ['REG_EMAIL:name','REG_DT:name', 'IMG_CNT:name'] , className: "row-center-align align-middle" });
          }
        },
        beforeSend: function (xhr) {
          setLoadingBar(true);
        },
        complete: function () {
          setLoadingBar(false);

          table = new DataTable('#' + tblId, {
            data: gridData,
            columns: columns,
            columnDefs: columnDefs,             
            language : getLanguage(),
            paging: true,
            lengthChange: true,
            searching: false,
            ordering: true,
            info: true,            
            scrollCollapse: true,
            select: {
              style: 'multi',
              selector: 'td.dt-select',
              items: 'row',
            },                     
            scrollX: true,
            scrollY: true,
            // responsive: true,            
            fixedColumns: {
              start: 4
            },        
            order: [[2, 'asc']],     
            destroy: true,     
            buttons: [
              {
                extend: 'excel',
                class: 'buttons-excel',
                exportOptions: {
                  // columns: ':visible:not(:first-child)'
                  columns: exportColumns
                },
              }
            ],
            createdRow: function(row, data, dataIndex){
              //위도,경도가 0인 경우
              if(data.LAT == 0 || data.LNG == 0)
              {
                $(row).addClass('text-danger');
              }
            }                    
          });
          
          //Click Event
          $('#tblMain tbody').on('click', 'tr td:not(.dt-select):not(.dtr-control)', function(e) {
            clickRecord($(this));
          }); 
        }   
    });
  };

  //상세 등록,수정창 초기화
  function InitModalTripDetail(){
    $("#tripDetailGuid").val('');
    $("#facilityName").val('');    
    $("#address").val('');    
    $("#addressDetail").val('');    
    $("#latitude").val(0);    
    $("#longitude").val(0);    
    $("#tblItems tr").each(function(){
      tableItems.row($(this).closest('tr'))
      .remove()
      .draw(false);
    });
  };

  //주소 버튼, 사진 icon으로 변경
  function changeImageData(gridData){
    for(var i = 0; i< gridData.length; i++){

      //이미지 갯수에 따른 IMG 표기
      if(gridData[i].IMG_CNT > 0){
        gridData[i].IMG_CNT = "<span><i class='fa fa-picture-o'></i></span>";
      }
      else{
        gridData[i].IMG_CNT = "";
      }

      //주소변경 버튼
      var htmlCode = "<div class='d-flex align-items-center' data-address='" + gridData[i].ADDR + "'>";
      htmlCode += "<span class='address me-2'>" + gridData[i].ADDR + "</span>";
      htmlCode += "<span class='badge text-bg-success ms-auto' onclick='updateAddress(this, event);'>주소 변경</span>";
      htmlCode += "</div>";
      gridData[i].ADDR = htmlCode;        
    }

    return gridData;
  };

  //컬럼에 따라 DataTable.js 컬럼 반환
  function getDataInfoFromColName(colName){
    let info = {};
    switch(colName){
      case 'ODR':
        info = {
          title: 'No.',
          name: colName,
          data: colName,
          width: '50px',
        };
        break;
      case 'FCLT_NM':
        info = {
          title: '명칭',
          name: colName,
          data: colName,          
          width: '100px',
        };
        break;        
      case 'ADDR':
        info = {
          title: '주소',
          name: colName,
          data: colName,
          width: '300px',
        };
        break;      
      case 'ADDR_DTL':
        info = {
          title: '상세 주소',
          name: colName,
          data: colName,
          width: '200px',
        };
        break;                
      case 'LAT':
        info = {
          title: '위도',
          name: colName,
          data: colName,
          width: '100px',
        };
        break;            
      case 'LNG':
        info = {
          title: '경도',
          name: colName,
          data: colName,
          width: '100px',
        };
        break;      
      case 'IMG_CNT':
        info = {
          title: '사진',
          name: colName,
          data: colName,
          width: '100px',
        };
        break;             
      case 'REG_EMAIL':
        info = {
          title: '등록자',
          name: colName,
          data: colName,
          width: '100px',
        };
        break;      
      case 'REG_DT':
        info = {
          title: '등록일시',
          name: colName,
          data: colName,
          width: '100px',
        };
        break;                         
      case 'TRIP_MST_GUID':
      case 'TRIP_DTL_GUID':
      case 'TRIP_DTL_GUID_IN_ITM':
      case 'COMP_YN':
      case 'UPDT_EMAIL':
      case 'UPDT_DT':
        info = {
          title: colName,
          name: colName,
          data: colName,          
          width: '0px',
          visible: false,
        };        
        break;
      default:        
        info = {
          title: colName,
          name: colName,
          data: colName,          
          width: '100px',
        };
        break;
    }
    return info;
  };

  //신규 등록
  function createItem(){
    InitModalTripDetail();

    //이미지 슬라이드 초기화 및 기본 이미지 추가
    $("#carouselOuter .carousel-inner").empty();

    var imgHtmlCode = createCarouselItemCode('', '');
    $("#carouselOuter .carousel-inner").append(imgHtmlCode);
    $("#carouselOuter .carousel-inner .carousel-item:first").addClass('active');

    //아이템 리스트 설정
    var itemNameList = JSON.parse($("#itemNameList").val());
    var itemList = [];

    for(var i = 0; i < itemNameList.length;i++){
      var itemName = itemNameList[i];
      itemList.push(getDefaultItem(itemName, ''));          
    }

    tableItems = DataTableForItems('tblItems', itemList);
    $("#modalTripDetail").modal('show');
  };

  //개별 조회
  function getItem(tripDetailGuid){      

    $.ajax({
        url: '/business/trip/getTripDetail',
        method: 'post',
        data: {
          tripDetailGuid: tripDetailGuid,
          tripGuid: $("#tripGuid").val(),
        },
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalAlert .modal-title").html("출장 상세");
          InitModalTripDetail();
        },        
        success: function(data){           
          if(data.success){            
            if(!(isEmpty(data) || isEmpty(data.value))){
              //이미지 슬라이드 초기화
              $("#carouselOuter .carousel-inner").empty();

              //이미지 연결
              if(!isEmpty(data.value.IMGS)){
                var tripDetailImages = data.value.IMGS;

                for(var i = 0; i < tripDetailImages.length;i++){
                  var imgGuid = tripDetailImages[i].TRIP_DTL_IMG_GUID;
                  var imgUrl = isEmpty(tripDetailImages[i].URL_PATH) ? '' : tripDetailImages[i].URL_PATH;  
                  if(!isEmpty(imgGuid)){
                    var imgHtmlCode = createCarouselItemCode(imgGuid, imgUrl);
                    $("#carouselOuter .carousel-inner").append(imgHtmlCode);
                    $("#carouselOuter .carousel-inner .carousel-item:first").addClass('active');
                  }              
                }
              }
              else{
                var imgHtmlCode = createCarouselItemCode('', '');
                $("#carouselOuter .carousel-inner").append(imgHtmlCode);     
                $("#carouselOuter .carousel-inner .carousel-item:first").addClass('active');           
              }

              //입력 항목
              $("#tripDetailGuid").val(tripDetailGuid);
              $("#facilityName").val(data.value.FCLT_NM);
              $("#address").val(data.value.ADDR);
              $("#addressDetail").val(data.value.ADDR_DTL);
              $("#latitude").val(data.value.LAT);
              $("#longitude").val(data.value.LNG); 
              
              //항목 연결
              var itemList = [];
              if(data.value.ITMS != null){
                var tripDetailItems = data.value.ITMS;
                for(var i = 0; i < tripDetailItems.length;i++){
                  var itemName = tripDetailItems[i].ITM_NM;
                  var itemValue = isEmpty(tripDetailItems[i].ITM_VAL) ? '' : tripDetailItems[i].ITM_VAL;

                  if(itemName != null){
                    itemList.push(getDefaultItem(itemName, itemValue));
                  }                
                }
              }          

              tableItems = DataTableForItems('tblItems', itemList);
              $("#modalTripDetail").modal('show');
            }
          }  
          else{
            var message = data.message;
            $("#modalAlert .modal-body").html(message);
          }  
        },
        complete: function(data){
          setLoadingBar(false);          
        },        
      });    
  };

  //이미지 바인딩
  function createCarouselItemCode(imgGuid, imgUrl){
    var htmlCode = "";

    if(imgGuid != ''){
      htmlCode += "<div class='carousel-item'>";
      htmlCode += "<img data-guid = '" + imgGuid + "' src='" + imgUrl + "' class='d-block w-100' onerror=this.src='/images/no_image.png'>";
      htmlCode += "<div>";
      htmlCode += "<button class='btn btn-sm btn-danger' onclick='deleteDetailImgae(this, event);'><i class='fa fa-times'></i></button>";
      htmlCode += "</div>";        
    }
    else{
      htmlCode += "<div class='carousel-item'>";
      htmlCode += "<img class='no-img' data-guid = '' src='' class='d-block w-100' onerror=this.src='/images/no_image.png'>";
    }

    htmlCode += "</div>";       
    return htmlCode;
  };

  //이미지 개별삭제
  function deleteDetailImgae(eThis, e){
    e.preventDefault();

    //이전 모달 z-index 변경
    $("#modalTripDetail").css('z-index', 1050);

    var tripDetailImageGuid = $(eThis).closest('div.carousel-item').find('img').data('guid');
    var tripDetailGuid = $("#tripDetailGuid").val()
    var data = {
      'tripDetailImageGuid': tripDetailImageGuid,
      'tripDetailGuid': tripDetailGuid,
    };

    confirmModal(e, 'modalConfirm', '모두의 출장 상세 이미지', '선택한 이미지를 삭제 하시겠습니까?', function () {   
      $.ajax({
        url: '/business/trip/deleteTripDetailImages',
        method: 'POST',
        data: data,
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalConfirm").modal('hide');
          $("#modalAlert .modal-title").html("모두의 출장 상세 이미지");
        },
        success: function (data, status, xhr) {
          if(data.success){
            getItem(tripDetailGuid);
          }  
          else{
            var message = data.message;
            $("#modalAlert .modal-body").html(message);
          }  
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false);

          //이전 모달 z-index 변경
          $('#modalConfirm').on('hidden.bs.modal', function (e) {
            $("#modalTripDetail").css('z-index', 1055);
            $("#modalConfirm").off('hidden.bs.modal');
          });       

          InitDataTableJS('tblMain', '/business/trip/getTripDetailList');  
        }
      });   
    }, function(){
      //이전 모달 z-index 변경
      $('#modalConfirm').on('hidden.bs.modal', function (e) {
        $("#modalTripDetail").css('z-index', 1055);
        $("#modalConfirm").off('hidden.bs.modal');
      });          
    });    
  };

  //아이템 항목 그리드
  function DataTableForItems(tblId, data){
    var table = new DataTable('#' + tblId, {
      columns: [
        {title: '항목', name: 'itemName', data : "itemName", width: '80px' },
        {title: '내용', name: 'itemValue', data : "itemValue", width: 'auto'},   
      ],
      columnDefs: [
        { targets: "_all", className: "header" },
        { targets: ['itemName:name', 'itemValue:name'], className: "row-left-align align-middle" },
      ],
      data: data,
      language : getLanguage(),
      paging: false,
      lengthChange: true,
      searching: false,
      ordering: false,
      info: false,   
      fixedColumns: true,
      scrollX: false,
      scrollY: '200px',
      //responsive: false,
      scrollCollapse: true,
      autoWidth: true,
      destroy: true,
      layout: {
        topStart: null,
        topEnd: null,
      },
    });

    return table;
  };

  //아이템 기본 모델
  function getDefaultItem(itemName, itemValue){
    var defItem = {
      itemName: "<span class='item-name'>" + itemName + "</span>",
      itemValue: "<input type=text class='item-value form-control w-100' placeholder='내용을 입력하세요.' value='" + itemValue + "' />",
    };
    return defItem;
  };

  //저장
  function saveTripDetail(eThis, e){
    //HTML5 기본 Validation
    if (!((document.getElementById("facilityName").validity.valid) &&
      (document.getElementById("address").validity.valid))) {
      return false;
    }

    e.preventDefault();

    var rows = tableItems.rows().data();
    var tripDetailItems = [];

    for(var i=0; i< rows.length; i++){
      var itemName = $($('.item-name')[i]).text();
      var itemValue = $($('.item-value')[i]).val();

      tripDetailItems.push({
        itemName: itemName,
        itemValue: itemValue,
      });
    }  

    var data = {
      tripDetailGuid: $("#tripDetailGuid").val(),
      tripGuid: $("#tripGuid").val(),
      facilityName: $("#facilityName").val(),
      address: $("#address").val(),
      addressDetail: $("#addressDetail").val(),
      latitude: $("#latitude").val(),
      longitude: $("#longitude").val(),
      tripDetailItems: tripDetailItems,
    };

    $.ajax({
        url: '/business/trip/setTripDetail',
        method: 'POST',
        data: JSON.stringify(data),
        datatype: "JSON",
        contentType: 'application/json; charset=utf-8',
        beforeSend: function (xhr) {
          setLoadingBar(true, 'modalTripDetail');
          $("#modalTripDetail").modal('hide');
          $("#modalAlert .modal-title").html("출장 상세");
        },
        success: function (data, status, xhr) {
          if(data.success){
            location.href = '/business/trip/detail?tripGuid=' + $("#tripGuid").val();
          }
          else{
            var message = data.message;
            $("#modalAlert .modal-body").html(message);
            $("#modalAlert").modal('show');
          }
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false, 'modalTripDetail');
        }
      }); 
  };

  //리스트 삭제
  function deleteItemList(e){
    //이전 모달 제거
    $("#btnConfirmN").attr('data-bs-target', '');
    $("#btnConfirmN").attr('data-bs-toggle', '');

    const rows = table.rows('.selected').data();
    var tripDetailGuidList = getValueList(rows, 'TRIP_DTL_GUID');
    var data = {
      'tripDetailGuidList': tripDetailGuidList,
    };

    if(tripDetailGuidList.length == 0){
      $("#modalAlert .modal-title").html("모두의 출장 상세");
      $("#modalAlert .modal-body").html('선택한 행이 없습니다.');
      $("#modalAlert").modal('show');
      return;
    }

    confirmModal(e, 'modalConfirm', '모두의 출장', '선택한 출장 상세를 삭제 하시겠습니까?', function () {   
      $.ajax({
        url: '/business/trip/deleteTripDetailList',
        method: 'POST',
        data: JSON.stringify(data),
        datatype: "JSON",
        contentType: 'application/json; charset=utf-8',
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalConfirm").modal('hide');
          $("#modalAlert .modal-title").html("모두의 출장 상세");
        },
        success: function (data, status, xhr) {
          // var message = data.message;
          // $("#modalAlert .modal-body").html(message);
          // $("#modalAlert").modal('show');
          location.href = '/business/trip/detail?tripGuid=' + $("#tripGuid").val();
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false);
        }
      });    
    });
  };

  //닫기
  function closeItem(){
    history.back();
  };

  //이미지 업로드
  function importImage(eThis, e){
    //HTML5 기본 Validation
    if (filesArr.length == 0) {
      $("#modalTripDetailImage").modal('hide');
      $("#modalAlert .modal-title").html("출장 업로드");
      $("#modalAlert .modal-body").html('bmp,jpg,jpeg,png,gif 파일만 업로드 할수 있습니다.');
      $("#modalAlert").modal('show');
      return false;
    }

    var fileVal = $("#files").val();
    if(fileVal != "" ){
        var ext = fileVal.split('.').pop().toLowerCase(); //확장자분리
        //아래 확장자가 있는지 체크
        if($.inArray(ext, ['bmp','jpg','jpeg','png','gif']) == -1) {
          $("#modalTripDetailImage").modal('hide');
          $("#modalAlert .modal-title").html("출장 업로드");
          $("#modalAlert .modal-body").html('bmp,jpg,jpeg,png,gif 파일만 업로드 할수 있습니다.');
          $("#modalAlert").modal('show');
          e.preventDefault(); //HTML5 기본 validation 밑에 위치 필수
          return false;
        }
    }    

    e.preventDefault(); //HTML5 기본 validation 밑에 위치 필수    

    var formData = new FormData();
    var files = $("#modalTripDetailImage").find("form input[type=file]")[0].files;

    for (var i = 0; i < filesArr.length; i++) {
        // 삭제되지 않은 파일만 폼데이터에 담기
        if (!filesArr[i].is_delete) {
            formData.append("files", filesArr[i]);
        }
    }

    formData.append('tripDetailGuid', $("#tripDetailGuid").val());

    $.ajax({
      url: '/business/trip/setTripDetailImagesForWeb',
      method: 'POST',
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function (xhr) {
        setLoadingBar(true, 'modalTripDetailImage');
        $("#modalAlert .modal-title").html("출장 상세 이미지 업로드");
      },
      success: function (data, status, xhr) {
        if(data.success){
          location.href = '/business/trip/detail?tripGuid=' + $("#tripGuid").val();
        }
        else
        {
          var message = data.message;
          $("#modalAlert .modal-body").html(message);
        }        
      },
      error: function (data, status, err) {
        $("#modalAlert .modal-body").html(err);
      },
      complete: function () {
        setLoadingBar(false, 'modalTripDetailImage');
        $("#modalTripDetailImage").modal('hide');
        $("#modalAlert").modal('show');
      }
    });    
  };

  //첨부파일 업로드
  function addFile(obj){
    var maxFileCnt = 5;   // 첨부파일 최대 개수
    var attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
    var remainFileCnt = maxFileCnt - attFileCnt;    // 추가로 첨부가능한 개수
    var curFileCnt = obj.files.length;  // 현재 선택된 첨부파일 개수

    // 첨부파일 개수 확인
    if (curFileCnt > remainFileCnt) {
        alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
    }

    for (var i = 0; i < Math.min(curFileCnt, remainFileCnt); i++) {
        const file = obj.files[i];

        // 첨부파일 검증
        if (validation(file)) {
            // 파일 배열에 담기
            var reader = new FileReader();
            reader.onload = function () {
                filesArr.push(file);
            };
            reader.readAsDataURL(file)

            // 목록 추가
            let htmlData = '';
            htmlData += '<div id="file' + fileNo + '" class="filebox d-flex align-items-center">';
            htmlData += '   <p class="name me-2">' + file.name + '</p>';
            htmlData += '   <a class="delete" style="cursor:pointer" onclick="deleteFile(' + fileNo + ');"><i class="fa fa-times"></i></a>';
            htmlData += '</div>';
            $('.file-list').append(htmlData);
            fileNo++;
        } else {
            continue;
        }
    }
    // 초기화
    document.querySelector("input[type=file]").value = "";
}

  //첨부파일 검증
  function validation(obj){
      const fileTypes = ['image/gif', 'image/jpg', 'image/jpeg', 'image/png', 'image/bmp'];
      var isSuccess = false;
      var msg = '';
      if (obj.name.length > 100) {
          msg = "파일명이 100자 이상인 파일은 제외되었습니다.";
      } else if (obj.size > (100 * 1024 * 1024)) {
          msg = "최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.";
      } else if (obj.name.lastIndexOf('.') == -1) {
          msg = "확장자가 없는 파일은 제외되었습니다.";
      } else if (!fileTypes.includes(obj.type)) {
          msg = "첨부가 불가능한 파일은 제외되었습니다.";
      } else {
          isSuccess = true;
      }

      if(isSuccess){
        return true;
      }
      else {
        $("#modalTripDetailImage").modal('hide');
        $("#modalAlert .modal-title").html("모두의 출장 이미지");
        $("#modalAlert .modal-body").html(msg);
        $("#modalAlert").modal('show');
        return false;
      }
  }

  //첨부파일 삭제
  function deleteFile(num) {
      document.querySelector("#file" + num).remove();
      filesArr[num].is_delete = true;
  }

  //엑셀 내보내기
  function exportExcel(eThis, e){    
    table.buttons('.buttons-excel').trigger();
  };

  //이미지 내보내기
  function exportImage(eThis, e){
    e.preventDefault();

    var data = {
      tripGuid : $("#tripGuid").val(),
    };
    
    confirmModal(e, 'modalConfirm', '모두의 출장 상세', '전체 이미지를 다운로드 하시겠습니까?', function () {   
      $.ajax({
        url: '/business/trip/exportTripDetailImage',
        method: 'POST',
        data: data,
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalConfirm").modal('hide');
          $("#modalAlert .modal-title").html("모두의 출장 상세 이미지");
        },
        success: function (data, status, xhr) {
          if(data.success){
            location.href = data.value.URL;
          }

          var message = data.message;
          $("#modalAlert .modal-body").html(message);
          $("#modalAlert").modal('show');
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false);
        }
      });         
    });        
  };

  //지도 보기
  function viewMap(){

  };

  //다음 지도 팝업창 후 주소,상세주소,위도,경도 즉각 갱신
  function updateAddress(eThis, e){
    e.preventDefault();

    //주소,위도,경도 즉시 변경
    const td = $(eThis).closest('td');
    const rowData = table.row(td).data();
    let tripDetailGuid = rowData.TRIP_DTL_GUID;
    let address = $(rowData.ADDR).data('address');
    execDaumPostcode('/business/trip/setCoordinateByAddress', tripDetailGuid, address, function(data, message)
    {
      $("#modalAlert .modal-title").html("모두의 출장 상세");
      $("#modalAlert .modal-body").html(message);
      $("#modalAlert").modal('show');

      InitDataTableJS('tblMain', '/business/trip/getTripDetailList'); 
    });
  };

  //위도,경도 가져오기
  function openDaumMap(eThis, e){
    e.preventDefault();

    let tripDetailGuid = $("#tripDetailGuid").val();
    let address = $("#address").val();
    execDaumPostcode('/business/trip/getCoordinateByAddress', tripDetailGuid, address, function(data, message)
    {
      $("#address").val(data.address);
      $("#addressDetail").val(data.addressDetail);
      $("#latitude").val(data.latitude);
      $("#longitude").val(data.longitude);
    });
  };
</script>