<%# 공통 부분 %>
<%- include('../../layout/common.ejs') %>

<%# CSS & JS %>
<link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="/css/select.dataTables.min.css" rel="stylesheet" />
<link href="/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<link href="/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="/css/scroller.dataTables.min.css" rel="stylesheet" />
<link href="/stylesheets/datatable.css" rel="stylesheet" />

<%# JS %>
<script src="/js/dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/dataTables.select.js"></script>
<script src="/js/select.dataTables.js"></script>
<script src="/js/dataTables.responsive.js"></script>
<script src="/js/responsive.dataTables.js"></script>
<script src="/js/dataTables.fixedColumns.js"></script>
<script src="/js/fixedColumns.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/fixedHeader.dataTables.js"></script>
<script src="/js/dataTables.scroller.min.js"></script>
<script src="/js/scroller.dataTables.min.js"></script>
<script src="/javascripts/datatableOption.js"></script>

<%# 본문 %>
<%- contentFor('body') %>

<%# 제한 항목 %>
<input type="hidden" id="tripMaxCount" value='<%= tripMaxCount %>'>
<input type="hidden" id="tripDetailItemMaxCount" value='<%= tripDetailItemMaxCount %>'>
<input type="hidden" id="tripPossibleCreateYN" value='<%= tripPossibleCreateYN %>'>

<%# 메뉴명 & 버튼 %>
<div class="d-flex">
  <div class="ps-1">
    <h2>모두의 출장</h2>
  </div>
  <div class="d-flex ms-auto">
    <div>
      <button type="button" id="btnCreate" class="btn btn-primary" onclick="createItem()">등록</button>      
    </div>
    <div class="ms-1 visually-hidden">
      <button type="button" id="btnDelete" class="btn btn-danger" onclick="deleteItemList(event)">삭제</button>
    </div>
    <div class="ms-1">
      <button type="button" class="btn btn-warning" onclick="editItem(this)">편집</button>      
    </div>    
  </div>
</div>

<%# 그리드 %>
<table id="tblMain" class="table table-striped">
</table>

<%# 출장 추가 %>
<div class="modal fade" id="modalTripAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="lblModalTripAdd" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- LoadingBar Modal of modalTripAdd -->
      <%- include('../../ejs/loadingbar.ejs') %>

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="lblModalTripAdd">출장 추가</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="img-outer">
            <img src="/images/logo_trip_add.png" onerror=this.src="/images/no_image.png">
          </div>
          <div class="mt-3 text-white rounded desp-outer">
            <h4>모두의 출장</h1> 
            <p>출장 생성 후 7일간 사용할 수 있습니다.</p>
            <p>모바일 앱에서 해당 출장을 클릭하여 광고를 시청 하면 기간을 갱신 할 수 있습니다.</p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-target="#modalImportTrip" data-bs-toggle="modal" data-bs-dismiss="modal">엑셀 불러오기</button>
          <button type="button" class="btn btn-primary" onclick="openModalNewTip()" data-bs-dismiss="modal">출장 만들기</button>
        </div>

    </div>
  </div>
</div>

<%# 출장 엑셀 등록 %>
<div class="modal fade" id="modalImportTrip" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="lblModalImportTrip" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- LoadingBar Modal of modalImportTrip -->
      <%- include('../../ejs/loadingbar.ejs') %>

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="lblModalImportTrip">출장 업로드</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="needs-validation" novalidate>
            <button type="submit" id="btnImportTrip" class="visually-hidden" onclick="importTrip(this, event)"></button>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-file"></i></span>
              <div class="has-validation">
                <input type="file" id="file" class="form-control" required accept=".xlsx">
              </div>
              <div class="invalid-feedback">
                파일을 업로드하세요.
              </div>                
            </div>            
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
          onclick="document.getElementById('btnImportTrip').click();">파일 올리기</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
        </div>

    </div>
  </div>
</div>

<%# 출장 개별 등록,수정 %>
<div class="modal fade" id="modalNewTrip" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="lblModalNewTrip" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- LoadingBar Modal of modalNewTrip -->
      <%- include('../../ejs/loadingbar.ejs') %>

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="lblModalNewTrip">출장 생성</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="needs-validation" novalidate>
            <input type="hidden" id="tripGuid" value="">
            <button type="submit" id="btnSaveTrip" class="visually-hidden" onclick="saveTrip(this, event)"></button>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-car"></i></span>
              <div class="form-floating has-validation">
                <input type="text" id="title" class="form-control" placeholder="10월의 출장"
                  onkeypress="enterKey(event, 'btnSaveTrip')" required>
                <label for="title">출장명</label>
              </div>
              <div class="invalid-feedback">
                출장명을 입력하세요.
              </div>                
            </div>

            <%# 항목 %>
            <div class="d-flex align-items-center">
              <div class="ps-1">
                <h5 class="d-table-cell">항목 이름 설정</h5>
              </div>
            </div>
            <div id="item-line" class="mt-2">
              <table id="tblItems" class="table table-striped">
              </table>   
              <div class="d-flex me-auto justify-content-end">
                <button type="button" id="btnAddItem" class="btn btn-sm btn-primary rounded-circle" onclick="addNewItem()">
                  <i class="fa fa-plus"></i>
                </button>      
              </div>                         
            </div>        
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
          onclick="document.getElementById('btnSaveTrip').click();">저장</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
        </div>

    </div>
  </div>
</div>

<script>
  var table = {};
  var tableItems = {};
  let itemCount = 1;
  let columns = [];

  $(document).ready( function () {
    //DataTable.js
    InitializeColumns();
    table = DataTableJS('tblMain', '/business/trip/getTripList');  

    //Click Event
    $('#tblMain tbody').on('click', 'tr td:not(.dt-select):not(.dtr-control)', function(e) {
      var isOn = table.column('CHK:name').visible();
      const rowData = table.row(this).data();
      let tripGuid = rowData.TRIP_MST_GUID;

      //편집 모드
      if(isOn){
        getTrip(tripGuid);
      }
      //읽기 모드
      else{
        let expiredDate = rowData.EXPIRE_DT;
        let nowDate = dateFormat(new Date(), false);

        if(nowDate <= expiredDate){
          var param = 'tripGuid=' + tripGuid;
          location.href = '/business/trip/detailmap?' + param;
        }
        else{
          $("#modalAlert .modal-title").html("만료된 출장");          
          $("#modalAlert .modal-body").html('모바일 앱에서 해당 출장을 클릭하여 광고를 시청 하면 기간을 갱신 할 수 있습니다.');
          $("#modalAlert").modal('show');
        }
      }
    });     
    
    //Reset Modal Items
    $('#modalNewTrip').on('hidden.bs.modal', function (e) {
      itemCount = 1;
      $("#title").val('');
      $("#tripGuid").val('');    
      $("#tblItems .item-del").each(function(){
        tableItems.row($(this).closest('tr'))
        .remove()
        .draw(false);
      });
    });

  });

  //컬럼 초기화
  function InitializeColumns(){
    columns.push({title: '', data : null, name: 'DTL', defaultContent: '', width: "0px", visible: false });
    columns.push({title: '', data : null, name: 'CHK', width: "50px", visible: false });
    columns.push({title: 'No.', data : "NO", name: "NO", width: "50px" });
    columns.push({title: '이름', data : "TTL", name: 'TTL', width: "100%"});
    columns.push({title: '만료일', data : "EXPIRE_DT", name: 'EXPIRE_DT', width: "200px"});

    if(authGroupCode == 'S'){
      columns.push({title: '등록자', data : "REG_EMAIL", name: 'REG_EMAIL', width: "200px", visible: true });
      columns.push({title: '등록일시', data : "REG_DT", name: 'REG_DT', width: "200px", visible: true });
    }
    else{
      columns.push({title: '등록자', data : "REG_EMAIL", name: 'REG_EMAIL', width: "0px", visible: false });
      columns.push({title: '등록일시', data : "REG_DT", name: 'REG_DT', width: "0px", visible: false });
    }
  };

  const columnDefs = [
    { targets: "_all", className: "header" },
    { targets: 0, orderable: false, searchable: false, className: 'control', render: false, },
    { targets: 1, orderable: false, render: DataTable.render.select() },    
    { targets: 'NO:name', className: "row-right-align" },    
    { targets: 'TTL:name', className: "row-left-align" },    
    { targets: ['EXPIRE_DT:name', 'REG_EMAIL:name', 'REG_DT:name'] , className: "row-center-align" },
  ];

  function DataTableJS(tblId, url){
    var table = new DataTable('#' + tblId, {
      columns: columns,
      columnDefs: columnDefs, 
      language : getLanguage(),
      paging: true,
      lengthChange: true,
      searching: false,
      ordering: true,
      info: true,         
      select: {
        style: 'multi',
        selector: 'td.dt-select',
        items: 'row',
      },         
      scrollX: true,
      scrollY: 'calc(100vh - 222px)',
      scroller: true,    
      // responsive: true,
      fixedColumns: {
        start: 3
      },
      order: [['NO', 'asc']],    
      ajax: {
          url: url,
          dataSrc: 'value' ,
          method: 'post',
      },
    });

    return table;
  };

  function DataTableForItems(tblId, data){
    var table = new DataTable('#' + tblId, {
      columns: [
        {title: '항목', name: 'title', data : "title", width: '80px' },
        {title: '이름', name: 'itemName', data : "itemName", width: 'auto'}, 
        {title: '', name: 'del', data : "del", width: '30px' },      
      ],
      columnDefs: [
        { targets: "_all", className: "header" },
        { targets: ['title:name', 'itemName:name'], className: "row-left-align align-middle" },
        { targets: 'del:name', className: "row-center-align align-middle" },
      ],
      data: data,
      language : getLanguage(),
      paging: false,
      lengthChange: false,
      searching: false,
      ordering: false,
      info: false,   
      fixedColumns: true,
      scrollCollapse: true,
      autoWidth: false,
      destroy: true,         
      layout: {
        topStart: null,
        topEnd: null,
      },
    });

    return table;
  };

  //아이템 등록
  function addNewItem(){
    var maxColumnCount = Number($("#tripDetailItemMaxCount").val());
    var count = tableItems.rows().count() + 1;

    if(count > maxColumnCount){
      //이전 모달 z-index 변경
      $("#modalNewTrip").css('z-index', 1050);
      $('#modalAlert').on('hidden.bs.modal', function (e) {
        $("#modalNewTrip").css('z-index', 1055);
        $("#modalAlert").off('hidden.bs.modal');
      });        

      $("#modalAlert .modal-title").html("출장 생성");
      $("#modalAlert .modal-body").html('출장 항목은 최대 ' + maxColumnCount + '개 까지 등록할 수 있습니다.');
      $("#modalAlert").modal('show');
      return;
    }

    tableItems.row
        .add(getDefaultItem(count, '', ''))
        .draw(false); 
        itemCount++;    
  };

  //아이템 기본 모델
  function getDefaultItem(index, itemName, dataYn){
    var defItem = {
      title: "<span class=''>항목" + index + "</span>",
      itemName: "<input type=text class='item-name form-control w-100' placeholder='항목의 이름을 입력하세요.' value='" + itemName + "' " + (dataYn == "Y" ? "readonly" : "") + " />",
      del: "<button class='btn btn-sm btn-danger item-del' onclick='deleteItem(this, event);' " + (dataYn == "Y" ? "disabled" : "") + "><i class='fa fa-times'></i></button>",
    };
    return defItem;
  };

  //아이템 삭제
  function deleteItem(eThis, e){
    e.preventDefault();
    tableItems.row($(eThis).closest('tr'))
      .remove()
      .draw(false);
      itemCount--;    
  };

  //신규 등록
  function createItem(){
    $("#modalTripAdd").modal('show');
  };

  //일괄 등록
  function importTrip(eThis, e) {
    //HTML5 기본 Validation
    if (!document.getElementById("file").validity.valid) {
      return false;
    }

    var fileVal = $("#file").val();
    if(fileVal != "" ){
        var ext = fileVal.split('.').pop().toLowerCase(); //확장자분리
        //아래 확장자가 있는지 체크
        if($.inArray(ext, ['xlsx']) == -1) {
          $("#modalImportTrip").modal('hide');
          $("#modalAlert .modal-title").html("출장 업로드");
          $("#modalAlert .modal-body").html('xlsx 파일만 업로드 할수 있습니다.');
          $("#modalAlert").modal('show');
          e.preventDefault(); //HTML5 기본 validation 밑에 위치 필수
          return false;
        }
    }    

    e.preventDefault(); //HTML5 기본 validation 밑에 위치 필수

    var formData = new FormData();
    var files = $("#modalImportTrip").find("form input[type=file]")[0].files;
    formData.append('file', files[0]);

    $.ajax({
      url: '/business/trip/importTripForWeb',
      method: 'POST',
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function (xhr) {
        setLoadingBar(true, 'modalImportTrip');
        $("#modalAlert .modal-title").html("출장 업로드");
      },
      success: function (data, status, xhr) {
        if(data.success){
          location.reload(true);
        }
        else
        {
          var message = data.message;
          $("#modalAlert .modal-body").html(message);
          $("#modalAlert").modal('show');
        }        
      },
      error: function (data, status, err) {
        $("#modalAlert .modal-body").html(err);
        $("#modalAlert").modal('show');
      },
      complete: function () {
        setLoadingBar(false, 'modalImportTrip');
        $("#modalImportTrip").modal('hide');        
      }
    });
  };

  //개별 등록
  function openModalNewTip(){
    var tripPossibleCreateYN = $("#tripPossibleCreateYN").val();
    var tripMaxCount = $("#tripMaxCount").val();
    if(tripPossibleCreateYN == 'N'){      
      $("#modalAlert .modal-title").html("출장 생성");
      $("#modalAlert .modal-body").html('출장은 최대 ' + tripMaxCount + '개 까지 등록할 수 있습니다.');
      $("#modalAlert").modal('show');     
      return; 
    }

    var itemList = [];
    itemList.push(getDefaultItem(1, '명칭','Y'));
    itemList.push(getDefaultItem(2, '주소','Y'));
    itemList.push(getDefaultItem(3, '상세주소','Y'));
    itemList.push(getDefaultItem(4, '위도','Y'));
    itemList.push(getDefaultItem(5, '경도','Y'));
    tableItems = DataTableForItems('tblItems', itemList);

    //등록 버튼 표시
    $("#btnAddItem").show();

    $("#modalNewTrip").modal('show');
  };

  //조회
  function getTrip(tripGuid){
    $.ajax({
        url: '/business/trip/getTripWithItems',
        dataSrc: 'value',
        method: 'post',
        data: {
          tripGuid: tripGuid,
        },
        beforeSend: function (xhr) {
          setLoadingBar(true, 'modalNewTrip');
        },        
        success: function(data){       
          var itemList = [];
          itemList.push(getDefaultItem(1, '명칭','Y'));
          itemList.push(getDefaultItem(2, '주소','Y'));
          itemList.push(getDefaultItem(3, '상세주소','Y'));
          itemList.push(getDefaultItem(4, '위도','Y'));
          itemList.push(getDefaultItem(5, '경도','Y'));

          if(!(isEmpty(data) || isEmpty(data.value))){
            $("#title").val(data.value.TTL);
            $("#tripGuid").val(data.value.TRIP_MST_GUID);
            
            if(data.value.tripDetailItems != null){
              for(var i = 0; i < data.value.tripDetailItems.length;i++){
                var itemName = data.value.tripDetailItems[i].ITM_NM;
                //편집하는 경우, 항목을 변경할 수 없도록 수정(2025-01-01)
                //var dataYn = data.value.tripDetailItems[i].DATA_YN;
                var dataYn = 'Y';

                if(itemName != null){
                  itemList.push(getDefaultItem(itemList.length + 1, itemName, dataYn));
                }                
              }
            }
          }
          tableItems = DataTableForItems('tblItems', itemList);

          //등록 버튼 숨김
          $("#btnAddItem").hide();
        },
        complete: function(data){
          setLoadingBar(false, 'modalNewTrip');
          $("#modalNewTrip").modal('show');
        },        
      });
  };

  //개별 저장(등록,수정)
  function saveTrip(eThis, e){
    //HTML5 기본 Validation
    if (!(document.getElementById("title").validity.valid)) {
      return false;
    }

    e.preventDefault(); //HTML5 기본 validation 밑에 위치 필수

    var tripGuid = $("#tripGuid").val();
    var title = $("#title").val();
    var rows = tableItems.rows().data();
    var tripDetailItems = [];

    for(var i=0; i< rows.length; i++){
      var itemName = $($('.item-name')[i]).val();
      var itemValue = '';

      if(itemName == '명칭' ||
        itemName == '주소' ||
        itemName == '상세주소' ||
        itemName == '위도' ||
        itemName == '경도'
      ){
        continue;
      }

      tripDetailItems.push({
        itemName: itemName,
        itemValue: itemValue,
      });
    }

    var data = {
      tripGuid: tripGuid,
      title : title,
      tripDetailItems: tripDetailItems,
    }

    $.ajax({
        url: '/business/trip/setTripWithItems',
        method: 'POST',
        data: JSON.stringify(data),
        datatype: "JSON",
        contentType: 'application/json; charset=utf-8',
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalNewTrip").modal('hide');
          $("#modalAlert .modal-title").html("모두의 출장");
        },
        success: function (data, status, xhr) {
          if(data.success){
            location.href = '/business/trip/';
          }
          else{
            var message = data.message;
            $("#modalAlert .modal-body").html(message);
            $("#modalAlert").modal('show');
          }
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false);
        }
      });        
  };

  //리스트 삭제
  function deleteItemList(e){
    const rows = table.rows('.selected').data();
    var tripGuidList = getValueList(rows, 'TRIP_MST_GUID');
    var data = {
      'tripGuidList': tripGuidList,
    };

    if(tripGuidList.length == 0){
      $("#modalAlert .modal-title").html("모두의 출장 상세");
      $("#modalAlert .modal-body").html('선택한 행이 없습니다.');
      $("#modalAlert").modal('show');
      return;
    }

    confirmModal(e, 'modalConfirm', '모두의 출장', '선택한 출장을 삭제 하시겠습니까?', function () {   
      $.ajax({
        url: '/business/trip/deleteTripList',
        method: 'POST',
        data: JSON.stringify(data),
        datatype: "JSON",
        contentType: 'application/json; charset=utf-8',
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalConfirm").modal('hide');
          $("#modalAlert .modal-title").html("모두의 출장");
        },
        success: function (data, status, xhr) {
          // var message = data.message;
          // $("#modalAlert .modal-body").html(message);
          // $("#modalAlert").modal('show');
          location.href = '/business/trip/';
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false);
        }
      });    
    });
  };

  //편집모드
  function editItem(eThis){
    var isOn = !(table.column('CHK:name').visible());

    //Active 클래스 추가
    if(isOn){
      //편집,보기 버튼
      $(eThis).addClass('active');
      $(eThis).removeClass('btn-warning');
      $(eThis).addClass('btn-success');
      $(eThis).text('보기');

      //체크박스
      table.column('CHK:name').visible(true);

      //삭제
      $("#btnCreate").closest('div').addClass('visually-hidden');
      $("#btnDelete").closest('div').removeClass('visually-hidden');
    }
    else{
      //편집,보기
      $(eThis).removeClass('active');
      $(eThis).removeClass('btn-success');
      $(eThis).addClass('btn-warning');
      $(eThis).text('편집');

      //체크박스
      table.column('CHK:name').visible(false);

      //등록,삭제
      $("#btnCreate").closest('div').removeClass('visually-hidden');
      $("#btnDelete").closest('div').addClass('visually-hidden');
    }
  };

</script>