<%# 사용자 이메일 %>
<%- contentFor('userEmail') %>
<%= userEmail %>

<%# 권한에 따른 메뉴(Nav) %>
<%- contentFor('menuNavByAuth') %>
<% if(authCode == 'S' || authCode == 'A'){ %>
  <%# This menu is hidden in bigger devices with d-sm-none. 
    The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  %>
  <li class="nav-item dropdown d-sm-block d-md-none">
    <a class="nav-link dropdown-toggle" href="#" aria-controls="smallerscreenmenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      설정
    </a>
    <div class="dropdown-menu" id="smallerscreenmenu">      
        <a class="dropdown-item" href="/system/user">계정 관리</a>
    </div>
  </li>
  <%# Smaller devices menu END %>
<% } %>

<%# 권한에 따른 메뉴(Body)  %>
<%- contentFor('menuBodyByAuth') %>
<% if(authCode == 'S' || authCode == 'A'){ %>
  <div class="dropdown">
    <button class="btn btn-light me-3 navbar-right-none top-menu dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        그 외
    </button>
    <ul class="dropdown-menu">
        <li>                
            <a class="dropdown-item" href="/system/user">
                <span class="fa fa-user fa-fw"></span>
                <span class="etc-menu">계정 관리</span>                    
            </a>
        </li>                              
    </ul>
  </div>
<% } %>

<%# Banner %>
<%- contentFor('banner') %>
<% if(typeof bannerList == 'object' && bannerList){ %>
  <% for(var i = 0; i < bannerList.length; i++) { %>
    <a href="<%= bannerList[i].URL_LINK %>" class="h-auto bg-dark list-group-item list-group-item-action">              
      <div class="d-flex w-100 h-100 justify-content-start align-items-center">
        <img class="banner-img" src="<%= bannerList[i].FILE_PATH %>/<%= bannerList[i].FILE_NM %>" onerror=this.src="/images/no_image.png">
      </div>
    </a>    
  <% } %>
<% } %>